a { color: #000; }
.resume {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  word-break: keep-all;
  line-height: 1.8
}

.color1 {
  color: #003399;
}

.gray {
  color: gray;
}

.profile-img {
  max-height: 320px;
}

.email-icon, .github-icon, .velog-icon {
  display: flex;
  justify-content: end;
  align-items: center;
}
.velog-icon svg { width: 20px; fill: #20C997; }
.github-icon svg { width: 20px; fill: #181717; }